<div class="grid-container">
  <%= image_tag 'top-image.jpeg', alt:'イメージ', class: 'top-image'%>
  <p class="overlay-text">今日の食料品を注文して、配達またはピックアップを受けましょう。<br>地元の店舗から欲しいものが何でも、直接あなたのドアまでお届けします。</p>
</div>
<div class="store-choice">
  <p>店舗を選んで買い物体験を</p>
</div>
<%= render "publicstores/store_index" %>