/* 基本スタイル */
/* **********************************************************************************************************************************************************
***ヘッダー
*********************************************************************************************************************************************************** */
.header-logged-in {
  background-color: #f7f5f0; /* ログイン時の背景色 */
}

.header-logged-out {
  background-color: #ffffff; /* ログインしていない時の背景色 */
}

.fa-carrot{
  color:#ff7017;
}

.navbar-brand{
  text-decoration: none !important;
  color:#003d2a !important;
  font-weight: bold;
  font-size: 20px !important;
}

.header-container{
  display:flex;
}

.d-flex{
  width:70%;
  height: 70%;
}

.shopping-cart {
  position: relative;
  display: inline-block;
  color: #333; /* カートアイコンの色 */
  font-size: 24px; /* カートアイコンのサイズ */
  margin-right:20px;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #82c91e; /* バッジの背景色 */
  color: white; /* バッジのテキスト色 */
  border-radius: 50%; /* 角を丸くする */
  padding: 5px 10px; /* 内部の余白 */
  font-size: 12px; /* バッジのテキストサイズ */
}
.location-link {
  text-decoration: none; /* 下線を消す */
  color: black; /* テキストの色 */
  font-size: 16px; /* テキストのサイズ */
  display: inline-flex; /* アイコンと数字を横並びにする */
  align-items: center; /* アイテムを縦方向に中央揃えにする */
  gap: 5px; /* アイコンと数字の間にスペースを作る */
  margin-right: 20px;
}

.location-link .fa {
  font-size: 24px; /* アイコンのサイズを大きくする */
}


/* **********************************************************************************************************************************************************
***新規登録画面
*********************************************************************************************************************************************************** */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}



/* 基本的なフォームスタイリング */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.actions {
  margin-top: 20px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}



/* **********************************************************************************************************************************************************
***ログイン画面
*********************************************************************************************************************************************************** */
/* フォーム全体を中央寄せに */
.form-wrap {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* ヘッダー部分のスタイル */
.form-header {
  margin-bottom: 20px;
}

.form-header-text {
  text-align: center;
  color: #333;
}

/* ログインメッセージのスタイル */
.login-flash-message {
  margin-bottom: 20px;
  text-align: center;
  color: #31708f;
}

/* 各フォーム要素のスタイル */
.form-group {
  margin-bottom: 20px;
}

.form-text-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.form-text {
  font-weight: bold;
  color: #555;
}

.indispensable {
  font-size: 12px;
  color: #d9534f;
}

/* 入力フィールドのスタイル */
.input-default {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* ログインボタンのスタイル */
.login-btn {
  text-align: center;
}

.login-red-btn {
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-red-btn:hover {
  background-color: #0d62bc;
}

/* **********************************************************************************************************************************************************
***_links.html.erb ************************************************************************************************
*********************************************************************************************************************************************************** */
.devise-link{
  text-decoration: none; 
  color: black;
}

.devise-link:hover{
  color: #303c39;
  text-decoration: none;
}

/* **********************************************************************************************************************************************************
***ログアウトユーザートップページ ************************************************************************************************
*********************************************************************************************************************************************************** */
body, img {
  margin: 0;
  padding: 0;
}

.main-container{
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  background-color: #f8f9fa;
}

.store-choice{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:30px;
  font-weight: bold;
  color: #303c39;
  margin-top:30px;
}

.grid-container {
  display: grid;
  position: relative;
}

.top-image {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: auto;
}

.overlay-text {
  grid-area: 1 / 1 / 2 / 2;
  color: white; /* 文字色は背景画像に応じて調整 */
  align-self: center;
  justify-self: start;
  position: relative; /* この行を追加 */
  z-index: 1; /* この行を追加 */
  margin:10px;
  font-size:24px;
  font-weight: bold;
}

.form-control {
   width: 60%;
}
input.form-control[type="search"] {
  width: 60%; /* あるいは任意の幅 */
}

.none-text-decoration{
  text-decoration: none;
  color: #303c39;
}

.none-text-decoration:hover{
  text-decoration: none;
  color: #303c39;
}

.store-logo{
  width:60%;
  padding: 5px;
  border: 1px solid #ecedec;
  border-radius: 5px;
}

.store-logo-parent{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* **********************************************************************************************************************************************************
***ログインユーザートップページ ************************************************************************************************
*********************************************************************************************************************************************************** */
.scrolling-wrapper {
  position: relative;
  overflow-x: hidden;
}

.cards-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.card {
  flex: 0 0 auto; /* カードが縮まないように設定 */
  width: 150px; /* カードの幅 */
  height: 150px;
  margin: 10px; /* カード間の余白 */
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

.left-scroll-btn {
  left: 0;
}

.right-scroll-btn {
  right: 0;
}

